<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\assets\js\Meting.min.js"></script>html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
body{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items:center;
}
canvas{
	display: block;
}
